{% block content %}
{% load static %}
{% load widget_tweaks %}
<main class="h-full flex flex-col items-center">
    <h1 class="text-4xl font-bold m-6">Dashboard</h1>
    
    <div class="w-full max-w-4xl flex flex-col">
        <div class="prose prose-base md:prose-lg max-w-none mb-8">
            <h3 class="text-xl md:text-2xl font-bold my-4 flex justify-center">Das Dashboard von PhotoNest</h3>
            <p class="mb-4">
                Die Dashboard-Seite von PhotoNest bietet einen spannenden Überblick über die aktivsten Mitglieder und Klassen der Plattform. Sie dient als zentrale Auswertungs- und Statistikseite, auf der das Engagement innerhalb der Community sichtbar gemacht wird.

                Im oberen Bereich der Seite werden die aktivsten Benutzer hervorgehoben – gemessen an der Anzahl ihrer Beiträge, Interaktionen wie Likes oder Kommentaren sowie ihrer allgemeinen Aktivität auf der Plattform. So wird ersichtlich, wer sich besonders stark in die Community einbringt.

                 Darunter befindet sich eine Übersicht der aktivsten Klassen, also jener Gruppen, aus denen besonders viele Beiträge stammen oder die durch rege Beteiligung auffallen. Diese Darstellung fördert nicht nur den Wettbewerb zwischen den Klassen, sondern stärkt auch das Gemeinschaftsgefühl innerhalb der Schule.

                Das Dashboard motiviert zur aktiven Teilnahme und zeigt, wie lebendig und engagiert die PhotoNest-Community ist. Durch die übersichtliche Darstellung und laufend aktualisierte Daten bleibt man stets über das Geschehen informiert.
             </p>
        </div>
    </div>
</main>
{% endblock %}