{% block content %}
{% load static %}
{% load widget_tweaks %}
<main class="h-full flex flex-col items-center">
    <h1 class="text-4xl font-bold m-6">Galerie</h1>
    
    <div class="w-full max-w-4xl flex flex-col">
        <div class="prose prose-base md:prose-lg max-w-none mb-8">
            <h3 class="text-xl md:text-2xl font-bold my-4 flex justify-center">Die Galerie-Seite von PhotoNest</h3>
            <p class="mb-4">
                Die Galerie-Seite von PhotoNest bietet den Nutzerinnen und Nutzern einen vollständigen Überblick über alle bisher hochgeladenen Beiträge. In einer übersichtlichen und ansprechend gestalteten Darstellung werden sämtliche Fotos der Community chronologisch oder nach Beliebtheit angezeigt.
                
                Ein zentrales Element dieser Seite ist die integrierte Filterfunktion, mit der sich die angezeigten Beiträge gezielt eingrenzen lassen. Nutzer können beispielsweise nach Kategorien, Upload-Datum, Beliebtheit oder bestimmten Stichwörtern filtern, um schneller genau die Inhalte zu finden, die sie interessieren.
                
                Wie auch auf der Startseite befindet sich im rechten unteren Eck der Galerie-Seite ein gut sichtbarer Button zum Hinzufügen eines neuen Beitrags. Dieser ermöglicht es, jederzeit direkt von der Galerie aus eigene Bilder hochzuladen und mit der Community zu teilen.
                
                Die Galerie-Seite ist damit ein zentraler Ort, um sich inspirieren zu lassen, nach bestimmten Inhalten zu suchen und aktiv am Geschehen auf PhotoNest teilzunehmen.    
            </p>
        </div>
    </div>
</main>
{% endblock %}