{% block content %}
{% load static %}
{% load widget_tweaks %}
<main class="h-full flex flex-col items-center">
    <h1 class="text-4xl font-bold m-6">Home</h1>
    
    <div class="w-full max-w-4xl flex flex-col">
        <div class="prose prose-base md:prose-lg max-w-none mb-8">
            <p class="mb-4">
                Die Startseite von PhotoNest

                Die Home-Seite von PhotoNest ist die zentrale Anlaufstelle der Plattform und bietet den Nutzerinnen und Nutzern einen schnellen Überblick über aktuelle und beliebte Inhalte. Direkt beim Aufruf der Seite werden die drei neuesten Beiträge angezeigt, sodass man sofort sieht, welche Fotos und Momente zuletzt hochgeladen wurden. Zusätzlich werden auch die drei beliebtesten Posts hervorgehoben – basierend auf Likes, Kommentaren oder anderen Interaktionen – um besonders sehenswerte Inhalte hervorzuheben.

                Ein besonderes Feature befindet sich im rechten unteren Eck der Seite: Dort befindet sich ein auffälliger Button, über den man mit nur wenigen Klicks einen neuen Beitrag hochladen kann. Dadurch wird das Teilen von Bildern besonders einfach und benutzerfreundlich gestaltet.

                Insgesamt sorgt die Startseite dafür, dass Nutzer jederzeit gut informiert sind, was gerade in der Community passiert, und motiviert dazu, selbst aktiv zu werden.
            </p>
        </div>
    </div>
</main>
{% endblock %}