{% block content %}
{% load static %}
{% load widget_tweaks %}
<main class="w-full h-full flex flex-col items-center">
    <h1 class="text-4xl font-bold m-6">Übersicht</h1>
    
    <h1 class="text-2xl font-bold m-6">PhotoNest</h1>
    <div class="w-full md:w-2/3 h-full flex flex-col md:flex-row items-center justify-center flex-wrap p-4">
        PhotoNest ist eine webbasierte Plattform, die als zentraler Social Media Collector für die HTL dient. Ziel der Anwendung ist es, den Arbeitsaufwand der für Social Media verantwortlichen Personen zu reduzieren und gleichzeitig die Außendarstellung der Schule auf Plattformen wie Instagram und Facebook zu verbessern.
        <br>
        <h1 class="text-xl font-bold m-6">Funktionsweise</h1>
        Die Webseite ermöglicht es Schülerinnen und Schülern, schnell und unkompliziert Bilder oder Videos von schulischen Aktivitäten hochzuladen. Zu jedem Beitrag kann ein kurzer Begleittext verfasst werden, um den Inhalt zu beschreiben oder in einen Kontext zu setzen. Andere Nutzer der Plattform können Beiträge liken, ähnlich wie bei bekannten sozialen Netzwerken wie Instagram.

        Ein zentrales Element von PhotoNest ist die Rolle des Head of Social Media: Diese Person hat Zugriff auf alle hochgeladenen Beiträge und kann daraus gezielt geeignete Inhalte auswählen, um sie direkt oder nach Aufbereitung auf den offiziellen Kanälen der Schule (Instagram, Facebook) zu veröffentlichen.

        <br>
        <h1 class="text-xl font-bold m-6">Zielsetzung</h1>
        Mit PhotoNest wird der Beitragsfluss aus dem Schulalltag automatisiert und vereinfacht. Statt Beiträge manuell zu sammeln, kann der Social Media Verantwortliche aus einer kuratierten Sammlung von Inhalten auswählen. Dies spart Zeit, erhöht die Beteiligung der Schülerschaft und sorgt dafür, dass aktuelle, authentische Inhalte regelmäßig veröffentlicht werden.

        Gleichzeitig stärkt die Plattform das Engagement der Schüler und fördert ein aktives Mitwirken an der Außendarstellung der Schule. Durch die einfache Möglichkeit, Inhalte zu teilen, wird die Sichtbarkeit der vielfältigen Aktivitäten an der HTL erhöht.
        </div>
</main>
{% endblock %}