{% extends 'base.html' %}

{% block title %}Docu | Photonest{% endblock %}

{% block base_content %}

<body class="w-full h-full flex flex-col items-center">
    <main class="w-full h-fit flex flex-grow flex-col items-center pb-18">
        <h1 class="text-4xl font-bold m-6">Dokumentation</h1>

        <div class="flex flex-row fixed top-4 left-4 text-2xl">
            <a href="/" class="bt btn-ghost m-1 max-md:fixed max-md:left-4">
                <i class="fa-regular fa-house">
                </i>
            </a>
        </div>
    </main>
</body>

{% endblock %}