{% extends 'photonest/base/base.html' %}

{% block title %}Dashboard | Photonest{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
{% load general_tags %}
{% load medal_tags %}
{% load avatar_tags %}

<main class="w-full h-full flex flex-col items-center">
    <h1 class="text-4xl font-bold m-6">DASHBOARD</h1>

    <div class="flex justify-between xl:items-start flex-col xl:flex-row">
        <div class="m-4 xl:mx-8 flex flex-col items-center max-h-[40rem] max-w-screen">
            <h1 class="text-2xl font-bold m-6">Benutzer</h1>
            <div class="overflow-auto max-w-full">
                <table class="table table-xs table-pin-rows md:table-md">
                    <thead>
                        <tr>
                        <th>Platz</th>
                        <th>
                            <a href="?sort_user={% if current_sort_user == 'username' %}-{% endif %}username" class="flex items-center gap-1">
                            Name
                            {% if current_sort_user == 'username' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                            {% if current_sort_user == '-username' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_user={% if current_sort_user == 'likes_received' %}-{% endif %}likes_received" class="flex items-center gap-1">
                            Likes
                            {% if current_sort_user == 'likes_received' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                            {% if current_sort_user == '-likes_received' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_user={% if current_sort_user == 'uploads_count' %}-{% endif %}uploads_count" class="flex items-center gap-1">
                            Uploads
                            {% if current_sort_user == 'uploads_count' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                            {% if current_sort_user == '-uploads_count' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_user={% if current_sort_user == 'uses_count' %}-{% endif %}uses_count" class="flex items-center gap-1">
                            Uses
                            {% if current_sort_user == 'uses_count' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                            {% if current_sort_user == '-uses_count' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                            </a>
                        </th>
                        </tr>
                    </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>
                            <div class="flex items-center gap-3">
                            <div class="avatar avatar-placeholder max-md:hidden">
                                <div class="bg-primary/10 text-primary-content w-12 rounded-full">
                                    <span class="text-xl font-bold">{{ user.username|user_initials }}</span>
                                </div>
                            </div>
                            <div>
                                <div class="font-bold md:min-w-48">{{ user }}</div>
                                <div class="">{{ user|get_medal_icons }}</div>
                            </div>
                            </div>
                        </td>
                        <td><span class="badge badge-ghost badge-sm">{{ user.likes_received }}<i class="fa-solid fa-heart"></i></span></td>
                        <td><span class="badge badge-ghost badge-sm">{{ user.uploads_count }}<i class="fa-solid fa-upload"></i></span></td>
                        <td><span class="badge badge-ghost badge-sm">{{ user.uses_count }}<i class="fa-solid fa-bullseye-arrow"></i></span></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    
        <div class="m-4 xl:mx-8 flex flex-col items-center max-h-[40rem] max-w-screen">
            <h1 class="text-2xl font-bold m-6">Klassen</h1>
            <div class="overflow-auto max-w-full">
                <table class="table table-sm table-pin-rows md:table-md">
                    <thead>
                        <tr>
                            <th>Platz</th>
                            <th>
                                <a href="?sort_class={% if current_sort_class == 'class_name' %}-{% endif %}class_name" class="flex items-center gap-1">
                                    Klasse
                                    {% if current_sort_class == 'class_name' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                                    {% if current_sort_class == '-class_name' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="?sort_class={% if current_sort_class == 'total_likes' %}-{% endif %}total_likes" class="flex items-center gap-1">
                                    Likes
                                    {% if current_sort_class == 'total_likes' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                                    {% if current_sort_class == '-total_likes' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="?sort_class={% if current_sort_class == 'total_uploads' %}-{% endif %}total_uploads" class="flex items-center gap-1">
                                    Uploads
                                    {% if current_sort_class == 'total_uploads' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                                    {% if current_sort_class == '-total_uploads' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="?sort_class={% if current_sort_class == 'total_uses' %}-{% endif %}total_uses" class="flex items-center gap-1">
                                    Uses
                                    {% if current_sort_class == 'total_uses' %}<i class="fa-solid fa-arrow-up"></i>{% endif %}
                                    {% if current_sort_class == '-total_uses' %}<i class="fa-solid fa-arrow-down"></i>{% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in classes %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="w-8 h-8 rounded-full mask mask-round m-2 max-md:hidden" style="background-color: {{ class.color }}"></div>
                                    <span class="font-bold md:min-w-48">{{ class.class_name }}</span>
                                </div>
                            </td>
                            <td><span class="badge badge-ghost badge-sm">{{ class.total_likes }}<i class="fa-solid fa-heart"></i></span></td>
                            <td><span class="badge badge-ghost badge-sm">{{ class.total_uploads  }}<i class="fa-solid fa-upload"></i></span></td>
                            <td><span class="badge badge-ghost badge-sm">{{ class.total_uses  }}<i class="fa-solid fa-bullseye-arrow"></i></span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}